@model IberaDelivery.Models.CheckoutForm
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Checkout";
    decimal preutotal = 0;
    var addresses = ViewBag.ShipmentId;
    var cards = ViewBag.Cards;
    var productList = ViewBag.Products;
    var User = ViewBag.User;
    var ProductsWOstock = ViewBag.ProductsWOstock;
    var orderOk = true;
    @if (ProductsWOstock.Count > 0)
    {
        orderOk = false;
    }


}
@if (orderOk == false)
{
    <div class="container">
    <div class="row">
        <p>There was a problem with the stock of the next products:</p>
        <ul>
            @foreach (var item in ProductsWOstock)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <p class="text-danger">Go back to the shopping cart to approve your new order, sorry for the inconvenience</p>
            <a asp-action="FixStock" asp-controller="Checkout" class="btn btn-success btn-lg">Shopping Cart</a>
        </div>
    </div>
}
@foreach (var item in productList)
{
    preutotal = preutotal + item.Price;
}
<div class="container">
    <div class="row">
        <div class="col-12 card shadow-0 border rounded-3">
            <form asp-action="Checkout" enctype="multipart/form-data">
                <div class="form-group">

                    @if (addresses.Items.Count == 0)
                    {
                        <p>Your account doesnt have a shipment adress... Yet</p>
                        <a asp-action="Create" asp-controller="Shipment" class="btn btn-success btn-lg">¡Add Address! </a>

                    }
                    else
                    {
                        <label asp-for="ShipmentId" class="control-label">Address</label>
                        <select asp-for="ShipmentId" class="form-control" asp-items="addresses">
                            <option value="" disabled selected hidden>-- Select Shipment --</option>
                        </select>
                    }

                    @if (cards.Items.Count == 0)
                    {
                        <p>Your account doesnt have a credit card stored... Yet</p>
                        <a asp-action="Create" asp-controller="Creditcard" class="btn btn-success btn-lg">¡Add Credit card!
                        </a>
                    }
                    else
                    {
                        <label asp-for="CardId" class="control-label">Credit Card</label>
                        <select asp-for="CardId" class="form-control" asp-items="cards">
                            <option value="" disabled selected hidden>-- Select Credit Card --</option>
                        </select>
                    }
                    <br>
                    <label>Expiration date</label>
                    <input type="text" placeholder="MM/YY">
                    <label>Security code</label>
                    <input type="text" placeholder="CVC">
                </div>
                <div class="form-group">
                    @if (orderOk == true)
                    {
                        <input type="submit" value="Create" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="disabled" value="Create" class="btn btn-primary" />
                    }
                </div>
            </form>
        </div>
    </div>
</div>