@model IberaDelivery.Models.FormProductEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva" class="control-label"></label>
                <input asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageIn" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ImageIn" id="customFile" multiple>

                </div>
                <span asp-validation-for="ImageIn" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-info" />
            </div>
        </form>

@if (Model.Image != null)
{
    

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.Image)
                {

                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image1)" class="img-thumbnail" />
                    </div>
                    { i++; }



                }

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <table>
            <tbody>
                @foreach (var item2 in Model.Image)
                {

                    <th>

                        <img src="data:image;base64,@System.Convert.ToBase64String(item2.Image1)" class="img-thumbnail" style="max-height: 17vh;"/>
                        <a asp-action="DeleteImage" asp-route-id="@item2.Id">Delete</a>

                    </th>
                }

            </tbody>
        </table>
}

    </div>
</div>
<span style="color: red;">@ViewBag.missatge</span>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>

</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    // Add the following code if you want the name of the file appear on select  
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });  
</script>
}