@model IEnumerable<IberaDelivery.Models.Product>
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc;
@using IberaDelivery.Models;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to IberiaDelivery</h1>
    <br /><br />
    <div class="card p-3">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div id="item" class="carousel-item active justify-content-center">
                    <img src="@Url.Content("~/Content/Images/comida.jpg")"" class=" rounded border-secondary d-block
                        w-100 h-100" alt="Comida" style="">
                    <div class="carousel-caption d-none d-md-block justify-content-center">
                        <h3>Kitchen</h3>
                        <p>The essential items for your kitchen</p>
                    </div>
                </div>
                <div id="item" class="carousel-item justify-content-center">
                    <img src="@Url.Content("~/Content/Images/deporte.jpg")"" class=" rounded border-secondary d-block
                        w-100 h-100" alt="Deporte">
                    <div class="carousel-caption d-none d-md-block justify-content-center">
                        <h3>Sports</h3>
                        <p>Take your body to new horizons</p>
                    </div>
                </div>
                <div id="item" class="carousel-item justify-content-center">
                    <img src="@Url.Content("~/Content/Images/hogar.jpeg")"" class=" rounded border-secondary d-block
                        w-100 h-100" alt="Hogar">
                    <div class="carousel-caption d-none d-md-block justify-content-center">
                        <h3>Furnitures</h3>
                        <p>Give a new air to your house</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev blur" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next blur" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br /><br />
    <div class="row flex-wrap">

        @foreach (var item in Model)
        {

        <div class="col-lg-3 col-md-4 col-sm-12 card p-3">
            @{
            int i = 0;
            }

            @foreach (var item2 in item.Images)
            {
            @if (i == 0)
            {
            <img src="data:image;base64,@System.Convert.ToBase64String(item2.Image1)" class="rounded img-thumbnail"
                style="max-height: 17vh;" />
            i++;
            }
            }
            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
        </div>

        }
    </div>
</div>
