@model IEnumerable<IberaDelivery.Models.Product>
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc;
@using IberaDelivery.Models;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to IberiaDelivery</h1>
    <br /><br />
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div id="item" class="carousel-item active">
                <img src="@Url.Content("~/Content/Images/comida.jpg")"" class="d-block w-100" alt="Comida">
            </div>
            <div id="item" class="carousel-item">
                <img src="@Url.Content("~/Content/Images/deporte.jpg")"" class="d-block w-100" alt="Deporte">
            </div>
            <div id="item" class="carousel-item">
                <img src="@Url.Content("~/Content/Images/hogar.jpeg")"" class="d-block w-100" alt="Hogar">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br /><br />
    <div class="row flex-wrap">

        @foreach (var item in Model)
        {

            <div class="col-lg-3 col-md-4 col-sm-12">
                @{
                    int i = 0;
                }

                @foreach (var item2 in item.Images)
                {
                    @if (i == 0)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item2.Image1)" class="img-thumbnail"
                style="max-height: 17vh;" />
                        i++;
                    }
                }
                <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
            </div>

        }
    </div>
</div>
