@model IberaDelivery.Models.User
@{
    ViewBag.Title = "Resend Email";

}

<h2>Resend Confirmation Email</h2>


<div>
    @using (Html.BeginForm("ResendEmail", "User"))
    {
        <div class="card container">
            <div style="color:red;">@Html.ValidationSummary()</div>
            <div class="row">
                <div class="col-lg-12">Enter the email of the account you want to activate</div>
            </div><br />
            <div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.Email)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.Email, new { @class = "form-control" })</div>
            </div><br />
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    }

</div>