@inject iberiadbContext context
@using (Html.BeginForm("Search", "Navbar"))
{
    List<SelectListItem> listItems = new List<SelectListItem>();
    
    List<Category> categories = context.Categories.ToList();
    listItems.Add(new SelectListItem{
            Text = "All departments",
            Value = "0",
            Selected = true
        });
    foreach(Category cat in categories){
        listItems.Add(new SelectListItem{
            Text = cat.Name,
            Value = cat.Id + ""
        });
    }
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
            @Html.DropDownList("Category", listItems, new { @class = "form-control" })
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            @Html.TextBox("SearchField", null, new { @class = "form-control w-100", @placeholder = "Search product..."})
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
            <input type="submit" value="Search" class="btn btn-light" />
        </div>
    </div>
}